/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --background-color: #F0F0F0;
  --heading-font: 'League Spartan', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --font-color-main: #272727;
  --font-color-secondary: #979797;
  --card-color: #FCFCFC;
  --card-shadow: 0px 4px 10px rgba(111, 128, 143, 0.49);
  --border-radius: 16px;
  --delete-color: #e10505;
  --upload-color: #03b8ce;
}

body {
  background: var(--background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.8rem;
}

.header__nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__back {
  display: flex;
  align-items: center;
}

.header__back span { display: none; }

.nav__active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__line { display: none; }

.nav__wrapper {
  position: relative;
  background-color: var(--card-color);
  height: 50vh;
  max-height: 400px;
  width: 70%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.nav__item, .nav__line, .nav__close {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 26px;
}

.nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 19px;
  cursor: pointer;
}

.nav__item a, .nav__line {
  color: var(--font-color-main);
  text-decoration: none;
}

.nav__btn { cursor: pointer; }

.dashboard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;
  width: 85%;
  max-width: 1500px;
  margin: 100px auto 30px;
}

.dashboard__user {
  width: 85%;
  max-width: 1500px;
  margin: 25px auto;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 32px;
  text-transform: capitalize;
}

.dashboard__link {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 420px;
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: 1.4rem 1.4rem;
  box-sizing: border-box;
}

.dashboard__link img {
  width: 50px;
  margin-right: 21px;
}

.dashboard__link a {
  font-family: var(--heading-font); 
  font-weight: bold;
  color: var(--font-color-main);
  text-decoration: none;
  font-size: 26px;
  display: flex;
  align-items: center;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__label {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 1.5em;
  text-transform: capitalize;
}

.form__input {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1em;
  padding: 1.2rem;
  background-color: var(--card-color);
  border: none;
  box-sizing: border-box;
  display: block;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  width: 100%;
}

.form__select {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1em;
	margin: 0.5em auto 1em;
  padding: 1.2rem;
  background-color: var(--card-color);
  border: none;
  width: 100%;
  display: block;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}


::-webkit-file-upload-button {
  color: var(--card-color);
  display: inline-block;
  background: var(--upload-color);
  border: none;
  padding: 0.5em 0.8em;
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: var(--card-shadow);
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.9em;
  margin-right: 1em;
}

::-webkit-file-upload-button:hover {
  border: var(--card-shadow);
  box-shadow: inset var(--card-shadow);
}


.form__textarea {
  padding: 1.2rem;
  width: 100%;
  max-width: 100%;
  line-height: 1.25;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  font-family: var(--body-font);
  border: none;
  margin: 0.5em auto 1em;
  overflow: auto;
  box-sizing: border-box;
}

.ck-editor__main {
  font-family: var(--body-font);
  height: 300px;
}

.ck-toolbar {
  background-color: var(--card-color);
  border-radius: var(--border-radius) !important;
  box-shadow: var(--card-shadow);
  margin-bottom: 0.8rem !important;
  padding: 0.4rem !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  padding: 1.2rem;
  width: 100%;
  line-height: 1.25;
  box-shadow: var(--card-shadow);
  border: none;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
  font-family: var(--body-font);
}

.ck-editor__editable {
  height: 300px !important;
  border-radius: var(--border-radius) !important;
  background-color: var(--card-color) !important;
}

.form__button {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em;
  background-color: var(--card-color);
  border: none;
  display: block;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  margin: 1em auto 2em;
}

.form__button:hover {
  border: var(--card-shadow);
  box-shadow: inset var(--card-shadow);
}

.note-text {
  font-family: var(--body-font);
  color: var(--font-color-main);
  margin: -15px 25px 10px;
}

.delete-photo{
  text-align: center;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.25em;
  margin: -1em auto 3em;
}

.delete-photo a { 
  text-decoration: none;
  color: var(--font-color-main);
  border-bottom: solid 2px var(--font-color-main);
}


@media screen and (min-width: 768px) {

  .header { padding: 1rem 3rem; }

  .header__back { text-decoration: none; }
  .header__back img {
    display: none;
  }

  .header__back span {
    display: block;
    font-family: var(--heading-font);
    color: var(--font-color-main);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;
  }

  .nav__btn { display: none; }

  .nav__close { display: none; }

  .header__nav {
    position: initial;
    display: block;
    width: 100%;
    height: initial;
    background: transparent;
  }

  .nav__wrapper {
    display: flex;
    gap: 15px;
    position: initial;
    background: transparent;
    height: initial;
    max-height: initial;
    width: initial;
    max-width: initial;
    flex-direction: row;
    border-radius: 0;
    box-shadow: none;
    justify-content: flex-end;
  }

  .nav__item, .nav__line { font-size: 22px; }

  .nav__item a { 
    text-decoration: none;
    color: var(--font-color-main); 
  }

  .nav__line {
    display: block;
  }

  .dashboard__container {
    width: 100%;
    gap: 56px 28px;
    margin-top: 70px;
  }

  .dashboard__link { width: 43%; }

  .dashboard__link img {
    width: 50px;
    margin-right: 25px;
  }

  .dashboard__link a { font-size: 28px; }

  .dashboard__user { font-size: 36px; }

  .contact__wrapper {
    gap: 45px;
  }

  .contact__card { width: 47%; }
}


.title-container {
  display: flex; 
  flex-flow: row wrap;
  gap: 1em;
  margin: 2em 3em;
}

.title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 32px;
  text-transform: capitalize;
  margin: 25px;
}

.objects-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em auto;
}

.object-item {
  font-weight: bold;
  flex:1 0 22%;
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: 2em 2em;
  box-sizing: border-box;
  width: 90%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.object-item img {
  margin: 0 auto;
  object-fit: cover;
}

.object-title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-main);
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 0.5em;
  line-height: 120%;
}

.secondary-title {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--font-color-secondary);
  font-size: 1.25em;
  text-transform: capitalize;
  margin-top: 0.5em;
}


#object-edit {
  text-align: end;
  margin-top: auto;
}

.edit__list {
  padding: 0;
  text-decoration: none;
}

.edit__link {
  display: inline-block; 
  list-style-type: none; 
  vertical-align: top; 
  position: relative; 
  margin-right: 1em;
  margin-top: 2em;
}

.edit__link a {
  text-decoration: none;
  color: var(--font-color-main);
  font-family: var(--body-font);
}

.delete__link {
  display: inline-block; 
  list-style-type: none; 
  vertical-align: top; 
  position: relative; 
  margin-top: 2em;
}

.delete__link a {
  text-decoration: none;
  color: var(--delete-color);
  font-family: var(--body-font);
}


.object__link {
  text-align: center;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 24px;
  margin: 40px 0;
}

.object__link a { 
  text-decoration: none;
  color: var(--font-color-main);
  border-bottom: solid 4px var(--font-color-main);
  padding-bottom: 5px;
}

.users__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 90%;
  max-width: 850px;
  margin: 40px auto 0 auto;
}

.users__card {
  background: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  color: var(--font-color-main);
  padding: 1.8rem 1.2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users__id, .users__name {
  font-family: var(--heading-font);
  font-weight: bold;
}

.users__id {
  font-size: 20px;
}

.users__name {
  font-size: 30px;
  margin: 16px 0 10px 0;
}

.users__email {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 600;
}

.users__functions {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 9px;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 18px;
}

.users__functions a { text-decoration: none; }

/* first child of users__functions has variable color */
.users__functions > *:first-child {
  color: var(--font-color-main);
}

/* last child has color of FB5757 */
.users__functions > *:last-child {
  color: #FB5757;
}

.users__add {
  text-align: center;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 24px;
  margin-top: 40px;
}

.users__add a { 
  text-decoration: none;
  color: var(--font-color-main);
  border-bottom: solid 4px var(--font-color-main);
}

.contact__wrapper {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  justify-content: center;
}

.contact__card {
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  padding: 1.4rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
}

.contact__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact__content h2 {
  font-family: var(--heading-font);
  color: var(--font-color-main);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

.contact__content h3, .contact__content p {
  font-family: var(--body-font);
  color: var(--font-color-main);
  font-size: 15px;
}

.contact__content h3 {
  font-size: 17px;
}

.contact__content p { line-height: 120%; }

.contact__delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-family: var(--body-font);
  color: var(--delete-color);
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {

  .header { padding: 2rem 3rem 1rem; }

  .nav__item { font-size: 18px; }

  .dashboard__container { gap: 70px 55px; }
  .dashboard__link {
    padding: 1.6rem;
  }
  .dashboard__link a {
    font-size: 32px;
  }

  .dashboard__link img {
    width: 64px;
    margin-right: 30px;
  }

  .dashboard__user { 
    font-size: 48px; 
    margin-top: 40px;
  }

  .users__card {
    padding: 3rem;
  }

  .users__id {
    font-size: 28px;
  }

  .users__name {
    font-size: 40px;
    margin-top: 26px;
  }

  .users__email { font-size: 16px; }

  .users__functions { font-size: 22px; }
}